* {
  font-family: sans-serif, arial;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.md > p {
  display: inline;
}

.no-margin{
  margin: 0!important;
}

.inline-block{
  display: inline-block!important;
}
.block{
  display: block!important;
}
.inline{
  display: inline!important;
}

.text-center{
  text-align: center;
}

.separator{
  border-top: 1px solid #808080;
  width: 90%;
  margin: 20px auto;
}

.separator-2{
  border-top: 1px solid #808080;
  width: 100%;
  margin: 20px auto;
}

.separator-long{
  border-top: 1px dashed #808080;
  width: 100%;
  margin: 40px auto;
}

.instruction-header{
  margin-bottom: 0.5px;
}

.navbar{
  display: flex;
  height: 10vh;
  background-color: #0e3782;
}

.navbar-brand{
  color: white;
}

.navbar-brand:hover{
  color: #ed1a64;
}

.hover-pink:hover{
  color: #ed1a64;
}

.page-heading{
  text-align: center;
  font-size: 40px;
}

.sub-heading{
  text-align: center;
  font-size: 20px;
}

.retreat-heading{
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 15px;
}

.hero-landing-img{
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-landing-overlay{
  height: 90vh;
  background-color: rgba(14, 55, 130,0.37)
}

.hero-info-img{
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 54%;
  position: relative;
}

.hero-info-img-about{
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 54%;
  position: relative;
}

.hero-info-img-classes{
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 25%;
  position: relative;
}

.hero-info-img-contact{
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 54%;
  position: relative;
}

.hero-info-img-retreat{
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 40%;
  position: relative;
}

.hero-info-img-workshop{
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 40%;
  position: relative;
}

.hero-info-overlay{
  height: 80vh;
  background-color: rgba(14, 55, 130,0.37)
}

.page-container{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  color: black;
}

.all-retreats-container{
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.all-workshop-container{
  width: 30%;
  margin: 20px auto auto;
}

.social-media-icons > a{
  height: 30px!important;
  width: 30px!important;
  margin-right: 10px;
}

.hero-landing-text-container{
  color: #ffffff;
  position: absolute;
  bottom: 3%;
  right: 16%;
}

.hero-img-text{
  display: inline-block;
  font-size: 75px
}
.hero-img-subtext{
  display: inline-block;
  font-size: 30px;
  margin-left: 35px;
}

.contact-logo{
  background-position: center;
  background-size: contain;
  height: 200px;
  margin: auto;
  background-image: url('./images/em-thomson-logo.jpg');
  width: 200px;
  background-repeat: no-repeat;
}

.retreat-thumbnail{
  display: inline-block;
  width : 300px;
  height : 200px;
  object-fit : cover;
}

.retreat-text{
  height: 200px;
  padding-left: 20px;
  float: right;
  display: inline-block;
}

.header-logo{
  display: inline-block;
  margin-right: 20px;
  background-position: center;
  background-size: contain;
  height: 50px;
  background-image: url(/static/media/em-thomson-logo.d0644399.jpg);
  width: 50px;
  background-repeat: no-repeat
}

.image-container {
  width: 90%;
  margin: auto;
  text-align: center;
  min-height: 200px;
  margin-top: 75px;
  margin-bottom: 20px;
}

.workshop-footer{
  width: 300px;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}
.stock-image {
  margin: 0 15px;
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.shavasana{
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
}

.retreat-img-container{
  width: 100%;
  height: 300px;
  display: inline-block;
  margin-bottom: 15px;
}

.retreat-image{
  width: 33%;
  height: 300px;
  display: inline-block;
  object-fit: contain;
}

.retreat-image-landscape{
  max-height: 400px;
  width: 100%;
  display: inline-block;
  object-fit: cover;
}

.hamburger {
  display: none
}

.toggle-button{
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-around;
}

.toggle-button:focus{
  outline: none;
}

.toggle-button-line{
  width:  25px;
  height: 2px;
  background: white;
}

.sidebar{
  height: 100%;
  background-color: white;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}

.sidebar.open{
  transform: translateX(0);
}

.sidebar ul{
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar li{
  font-size: 20px;
  color: #0e3782;
  margin: 1.5rem 0;
}

.sidebar li:hover,
.sidebar li:active{
  color: #ed1a64;
}

.header-logo-mobile{
  background-position: center;
  background-size: contain;
  height: 200px;
  background-image: url('./images/em-thomson-logo.jpg');
  width: 200px;
  background-repeat: no-repeat;
}

.backdrop{
  height: 120vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0, 0.3);
  z-index: 100;
}

.popup{
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 50px;
  width: 320px;
  text-align: center;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
  border: 2px solid #0e3782;
  color: #0e3782;
  box-shadow: 10px 10px 25px 20px #d9d9d9;
  z-index: 150;
}

.lesson-info{
  color: #ed1a64;
}

/* MOBILE ADJUSTMENTS */
@media screen and (max-width: 640px){

  .mobile-hide{
    display: none;
  }

  .stock-image{
    width: 300px;
  }

  .hero-info-img{
    background-position: 50%;
  }

  .hero-info-img-about{
    background-size: cover;
    background-position: 50%;
  }

  .hero-info-img-classes{
    background-size: cover;
    background-position: 30%;
  }

  .hero-info-img-contact{
    background-size: cover;
    background-position: 69%;
  }

  .navbar-brand{
    display: none;
  }

  .hamburger{
    display: block;
  }

  .mobile-container{
    width: 95%!important;
  }

  td{
    padding: 10px!important;;
  }

  .retreat-image{
    width: 100%;
  }

  .retreat-text{
    height: 20px;
    padding-left: 0;
    float: none;
    position: inherit;
  }

  .retreat-text p{
    display: inline-block;
    margin-right: 15px;
  }

  .retreat-thumbnail{
    width: 100%!important;
  }

  .hero-landing-text-container{
    right: 0;
    left: 0;
  }

  .all-workshop-container{
    width: 50%;
    margin: 20px auto auto;
    text-align: center;
  }

  .workshop-footer{
    width: 50%!important;
    display: block;
    margin: auto;
    margin-bottom: 50px;
  }

  .navbar{
    height: 11vh;
  }

}
